:root{
    --color-dark: #0D1B2A;
    --color-white: #ffffff;
    --color-purple: #4A20F1;
    --color-gray: #888888;
    --color-green: #2B961F;

    --color-button: var(--color-purple);

    --border-small: 5px;
    --border-medium: 10px;
    --border-big: 20px;
}